.PasswordInput__minititle {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 20px;
    color: #474747;
}

.PasswordInput__inputcontainer {
    align-items: center;
    position: relative;
}

.PasswordInput__input {
    width: 100%;
    height: 35px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    font-size: 16px;
    padding: 0 5px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.PasswordInput__input:hover {
    border: 1px solid rgba(0,0,0,0.5);
}
.PasswordInput__input:focus {
    border: 1px solid rgba(0,0,0,0.5);
}

.PasswordInput__showBtn {
    color: #707070;
    position: absolute;
    left: 101%;
    top: 25%;
    cursor: pointer;
}
.PasswordInput__showBtn:hover {
    color: #272727;
}

.PasswordInput__error {
    margin-top: 5px;
    color: rgb(255, 30, 30);
    text-align: center;
}